In [1]:
import pandas as pd

In [2]:
import matplotlib as plt

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
df = pd.read_csv('titanic.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
target = 'Survived'

In [9]:
ohe = OneHotEncoder()
encoded_features = ohe.fit_transform(df[features]).toarray()
encoded_features = pd.DataFrame(encoded_features)

In [10]:
imputer_mean = SimpleImputer(strategy='mean')

In [11]:
df['Age'] = imputer_mean.fit_transform(df[['Age']]).ravel()

In [12]:
imputer_median = SimpleImputer(strategy='median')

In [13]:
df['Fare'] = imputer_median.fit_transform(df[['Fare']]).ravel()

In [14]:
imputer_mode = SimpleImputer(strategy='most_frequent')

In [15]:
df['Embarked'] = imputer_mode.fit_transform(df[['Embarked']]).ravel()

In [16]:
X_train, X_test, y_train, y_test = train_test_split(encoded_features, df[target], test_size=0.2, random_state=42)

In [17]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [22]:
plt.xlabel(X)
plt.ylabel("Y") 
plt.show()

AttributeError: module 'matplotlib' has no attribute 'xlabel'